<!DOCTYPE html>
<html lang="en"
	class="app js no-touch no-android chrome no-firefox no-iemobile no-ie no-ie10 no-ie11 no-ios">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>CloudIM</title>
<meta name="description" content="app, web app">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/static/css/font.css" type="text/css">
<link rel="stylesheet" href="/static/css/app.v1.css" type="text/css">
<!--[if lt IE 9]> <script src="js/ie/html5shiv.js"></script> <script src="js/ie/respond.min.js"></script> <script src="js/ie/excanvas.js"></script> <![endif]-->
</head>
<body class="modal-open" style="">
	<!-- Bootstrap -->
	<!-- App -->
	<script src="/static/js/app.v1.js"></script>
	<div class="modal in" id="ajaxModal" aria-hidden="false"
		style="display: block;">
		<div class="modal-over">
			<div class="modal-center animated fadeInUp text-center"
				style="width: 200px; margin: -80px 0 0 -100px;">
				<div class="thumb-md">
					<img src="/static/img/avatar.jpg"
						class="img-circle b-a b-light b-3x">
				</div>
				<p class="text-white h4 m-t m-b">John.Smith</p>
				<div class="input-group">
					<input type="password" class="form-control text-sm"
						placeholder="Enter pwd to continue"> <span
						class="input-group-btn">
						<button class="btn btn-success" type="button" data-dismiss="modal">
							<i class="fa fa-arrow-right"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-backdrop  in"></div>
</body>
</html>